/* styling for the body and all the elements */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
   background: url(/Images/startbackground.png);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;

}

/* start game button styling */
button{
    position:absolute;
    top: 75%;
    left: 35rem;
    background: #1a1a1a;
    border: none;
}
/* styling for the instructions */
.instructions{
    position: absolute;
    left:8%;
    top: 40%;
    color:#03e9f4;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
max-width: 25%;
}

.instructions:hover{
    transition: 1.5s;
    transform: scale(1.5);
}

/* styling for the buttons */
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* styling for the scoreboard of the game */
.score{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
    
}
.score small{
    background: linear-gradient(95deg, red, rgb(187, 255, 0));
    -webkit-background-clip: text;
    color: transparent;
}


.score > * {
    flex-grow: 1;
    flex-basis: 0;
    opacity: 0.5;
    padding: 0 2vh;
}

.score > :first-child{
    text-align: right;
    border-right: 1vh solid rgb(61, 56, 56);
}

/* styling for the pong bats */
.bat{
    --position: 50;

    position: absolute;
    background-color:red;
    box-shadow: -2px 5px rgba(99, 106, 101, 0.5);
    width: 1vh;
    height: 25vh;
    top: calc(var(--position)* 1vh);
    transform: translateY(-50%);
}

.bat.right{
    right: 1vw;
}

.bat.left{
 left: 1vw;
}

/* styling for the pong  */
.pong{
    --x: 50;
    --y:50;

    position: absolute;
    background-color: rgb(255, 98, 0);
    box-shadow: -2px 2px rgba(200, 255, 0, 0.5);
    left: calc(var(--x)*1vw);
    top:calc(var(--y)*1vh);
    transform:translateY(-50%);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}

/* styling for the board line */
.line{
    --y:33.8;
    position: relative;
    border: 3px white solid;
    top:calc(var(--y)*1vh);
    transform:translateY(-50%);
}

/* styling for the pong net */
.net{
    border: rgb(137, 127, 127) solid 4px ;  
    transform: rotate(90deg);
    position: relative; 
    top: 50%;
}
